.App {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.Events {
  box-shadow: 1px, rgb(240, 163, 128);
}

h1 {
  color: #54006e;
  margin-bottom: 50px !important;
}

form{
  margin-top: 50px;
}

h2 {
  color: blueviolet;
}