.App {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.Events {
  box-shadow: 1px, rgb(128, 240, 197);
}

h1 {
  color: #fd13f5;
  margin-bottom: 50px !important;
}

form{
  margin-top: 50px;
}

h2 {
  color: rgb(174, 43, 226);
}